body {
	margin: 0;
	padding: 0;
}

#main {
	background: url(ontwerp_0.2.png) no-repeat center top;
	min-height: 2400px;
}

#main_sub {
	background: url(ontwerp_0.2_sub.png) no-repeat center top;
	min-height: 2400px;
}