@media all and (min-width: 320px) and (max-width: 767px) {

	/* Titles */
	h1, h2, h3
	{
		line-height: 1.1em;
	}

	/* Header */
	#header
	{
		padding: 0 !important;
		.block-header
		{
			text-align: center;
			text-transform: uppercase;
			p
			{	
				font-family: "PT Sans Narrow";
				font-size: 2.3em;
				line-height: 1em;
			}
		}
		.block-shoppaleis-title
		{
			margin-bottom: 20px;
			.inner
			{
				font-size: 1.3em;
			}
		}
	}

	/* Logo */
	#name-and-slogan
	{
		width: 100%;
		#site-name
		{
			text-indent: -999em;
			overflow: hidden;
			background: url(../images/logo_responsive.png) no-repeat center top;
			width: 100%;
			height: 150px;
			a
			{
				display: block;
				height: 150px;
			}
		}
		margin: 20px 0;
	
	}
	
	
	/* Main Menu */
	.block-main-menu
	{
		ul.menu
		{
			margin: 0;
			padding: 0;
			background: $orange url(../images/menu.png) no-repeat right top;
			height: 40px;
			overflow: hidden;
			li
			{
				list-style: none;
				height: 40px;
				line-height: 40px;
				a
				{
					padding-left: 20px;
					font-family: "PT Sans";
					font-weight: 300;
					color: white;
					text-transform: uppercase;
					text-decoration: none;
					border-bottom: none;
					display: block;
					&.active
					{
						font-weight: 700;
					}
				}
			}
		}
	}

}