/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* Variables */
@import "components/variables";

/* HTML element (SMACSS base) rules */
@import "normalize";
@import "components/elements";

/* Layout rules */
@import "layouts/responsive";
@import "layouts/desktop";
@import "layouts/tablet";
@import "layouts/smartphone";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

/* General Styles */
body {
	font-family: "Open Sans";
}

/* Layouts */
.wrapper
{
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* Google Map */
#map, #map_leuven, #map_kortenberg
{
	width: 100%;
	height: 250px;
}

/* Lightbox */
#lightbox
{
	a
	{
		border: none !important;
	}
}
